<%= form_with model: @todo_list do |form| %>
  <% if todo_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(todo_list.errors.count, "error") %> prohibited this todo_list from being saved:</h2>

      <ul>
      <% todo_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
<div class="col-sm-8 offset-sm-2">
  <div class="fields form-group">
    <div class="field">
   <h1><%= form.label :title, "What do you have to do?" %></h1>
    <%= form.text_field :title, id: :todo_list_title, :class => 'form-control', placeholder: "start here",required: true %>
  </div>
  </br>
  <!--
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :todo_list_description, :class => 'form-control', rows: "17",  placeholder: "Description", required: true  %>
  </div>
  </br> -->
  <div class="actions">
    <center><%= form.submit "Submit" ,:class => 'btn btn-success'%></center>
  <div>

</div>
<% end %>

