<div class="container">
</br></br>
  <div class= "title">
    <h1>Todo Lists</h1> 
    <%=  button_to 'New Todo List', new_todo_list_path, method: :get , class:"btn btn-primary" %> 
  </div>
</br>
  <% if @todo_lists.length < 1 %>
      <h1> <center>The List is empty</center></h1>
  <% end %>  
  <% @todo_lists.each do |todo_list| %>
    <% if todo_list.user == current_user %>
    <div class="responsive table_container">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th width="200px">Title</th>
            <th width="600px">Description</th>
            <th colspan="3"></th>
          </tr>
        </thead> 
        <tbody>
          <tr class="list_row">
            <td><%= link_to todo_list.title.capitalize, todo_list %></td>
            <td><%=link_to simple_format(todo_list.description.capitalize), todo_list %>
            <%= button_to "Add Item", todo_list, class:"btn btn-primary", method: 'get' %>
            </td>  
            <td colspan="1"></td>
            <td class="list_col"><%= link_to edit_todo_list_path(todo_list) do %>
            <i class="fa fa-pencil"></i>
            <% end %>
            </td>
            <td class="list_col"><%= link_to todo_list, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-trash"></i>
            <% end %>
            </td>
          </tr>  
     
        <% @todo_items.each do |item|%>
          <% if todo_list.id == item.todo_list_id%>
            <tr class = "table-borderless table-sm ">
              <td colspan="1" style= "background :#ffffff"></td>
                <% if item.completed?%>
                  <td><strike class="complete"> <%= item.content.capitalize%></strike> </td>
                  <td  class="todo_items" >
                  <%= link_to incomplete_todo_list_todo_item_path(todo_list.id, item.id),method: :patch do%>
                  <i class="fa fa-check-circle item-icons" ></i>
                  <% end %>
                  </td>
                  <% else %>
                  <td> <%= item.content.capitalize%> </td>
                  <td  class="todo_items" >
                  <%= link_to complete_todo_list_todo_item_path(todo_list.id, item.id),method: :patch do%>
                  <i class="fa fa-check-circle item-icons" ></i>
                  <% end %>
                  </td>
                  <td class="todo_items" > 
                  <%= link_to edit_todo_list_todo_item_path(todo_list.id, item.id)  do %>
                  <i class="fa fa-pencil item-icons" ></i>
                  <% end %>
                  </td>                  
                  <td class="todo_items" >
                  <%= link_to todo_list_todo_item_path(todo_list.id, item.id), method: :delete, data: { confirm: "Are you sure?" } do%>
                  <i class="fa fa-trash item-icons"></i>
                  <% end %>
                  </td>                 
            </tr>
            </div>
            <% end %>
          <%end %>
        <% end %>
     <% end %>
    <% end %>
      
   
     
           
          

    </tbody>
  </table>
  </div>
</div>
<br>
 
</div>
 