<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header class="row">
 
  <nav class="navbar col-sm-12"> 
    <% if user_signed_in? %>
       <nav class="navbar col-sm-6">
  <%# <%= link_to 'javascript:history.back()' do %>
    <%=link_to root_path do %>
    <i class="fa fa-home back"></i>
    <% end %>
  </nav>
      <ul class = "navbar ml-auto ">
        <%# <li class="nav-item"> <%= link_to 'Edit User-Info', edit_user_registration_path , class:"nav-link"%>     
        <li class="nav-item"> 
          <%= link_to destroy_user_session_path, method: :delete do %>   
            <i class="fa fa-sign-out logout"></i>
          <% end %>
        </li>
      </ul>      
    <% else %>
      <%= link_to 'Sign In', new_user_session_path %>  
    <% end %>  
  </nav>
  </header>

  <body>
  <!-- > <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p> -->
    <%= yield %>
  </body>
</html>
